#new-grid-btn{
    display: block;
    margin: 1rem auto;
}

.radio-buttons{
    width: fit-content;
    margin: 1rem auto;
}

.grid-container{
    display: flex;
    flex-direction: column;
    width: 90vmin;
    height: 90vmin;
    margin: 0 auto;
}

.grid-row{
    display: flex;
    flex-direction: row;
    flex: 1;
}

.grid-square{
    flex: 1;
    border: 1px solid black;
    
}