.app-container{
    background: rgb(237,70,47);
    border: 1px solid black;
    border-radius: 2rem;
    width: 90vmin;
    margin: 0 auto;
    padding-bottom: 1rem;
}

.buttons{
    display: flex;
    justify-content: center;
}

button{
    display: block;
    border-radius: 3rem;
    width: 3rem;
    margin: .5rem;
}

.radio-buttons{
    width: fit-content;
    margin: .5rem auto;
}

.grid-container{
    display: flex;
    flex-direction: column;
    width: 80vmin;
    height: 80vmin;
    margin: 0 auto;
}

.grid-row{
    display: flex;
    flex-direction: row;
    flex: 1;
}

.grid-square{
    flex: 1;
    background: white;
    border: 1px solid black;
    
}

.logo{
    width:fit-content;
    margin: 1rem auto 0 auto;
    color: yellow;
    font-family: cursive;
    font-size: 25px;
    /* font-weight: bold; */
}